# Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Environments & Secrets
venv/
env/
.env
*.log

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Generated local inference outputs
predict/*.csv
